:root{
    --color-pink: #F71963;
    --color-dark-pink: #de185aec;
    --color-black: #4E4E4E;
    --color-darkzinc: #2A2A2A;
    --color-zinc: #3B3B3B;
    --color-gray: #9F9F9F;
    --color-mediumgray: #F4F4F4;
    --color-lightgray: #F6F5F2;
    --color-ultralightgray: #F0F0F0;
    --color-white: #FFFFFF;
    --color-blue: #041E50;
}