body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pink-text {
  color: var(--color-pink);
}

svg path {
  transition: stroke 0.2s ease;
  stroke: #9F9F9F;
}

svg:hover path {
  stroke: var(--color-pink); 
}